<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="{{usuario.url || '../../../../../../assets/user.png'}}" alt="{{usuario.alias}}">
                <div class="card-body">
                    <div>
                        <strong>Ubicación:</strong>
                        <p>{{usuario.city}} , {{usuario.pais}}</p>
                    </div>
                    <div>
                        <strong>Ultima Conexión:</strong>
                        <p>{{usuario.ultimaConexion | date : 'dd/MM/yyyy'}}</p>
                    </div>
                    <div>
                        <strong>Miembro hace:</strong>
                        <p>{{usuario.creado | date : 'dd/MM/yyyy' }}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button class="btn btn-primary w-100">Me gusta</button>
                        <button class="btn btn-success w-100">Mensaje</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="A cerca de {{usuario.alias}}">
                        <h4>Descripción</h4>
                        <p>{{usuario.introduccion}}</p>
                        <h4>Buscar Por</h4>
                        <p>{{usuario.buscarPor}}</p>
                    </tab>
                    <tab heading="Intereses">
                        <h4>Intereses: </h4>
                        <p>{{usuario.intereses}}</p>
                    </tab>
                    <tab heading="Fotos">
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                    </tab>
                    <tab heading="Mensajes">
                        <p>los mensajes iran aqui </p>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>