<div class="text-center mt-3">
    <h2>{{likeesparams === 'likers' ? ' Miembros que me quieren' : ' Miembros que me han gustado'}} : {{paginacion.itemsTotal}}</h2>
</div>

<div class="container mt-3">

    <div class="row">
        <div class="btn-group">
            <button class="btn btn-primary" [(ngModel)]="likeesparams" btnRadio="Likers" (click)="cargarUsuarios()">Miembros que le he gustado</button>
            <button class="btn btn-primary" [(ngModel)]="likeesparams" btnRadio="Likees" (click)="cargarUsuarios()">Miembros a los que me gustan</button>
        </div>
    </div>

    <br>

    <div class="row">
        <div *ngFor="let usuario of Usuarios" class="col-lg-4 col-md-6 col-sm-6">
            <app-tarjeta-miembros [Usuario]="usuario"></app-tarjeta-miembros>
        </div>
    </div>



</div>

<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="paginacion.itemsTotal" [itemsPerPage]="paginacion.itemsPorPagina" [(ngModel)]="paginacion.paginaActaul" (pageChanged)="cambioPagina($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;">

    </pagination>
</div>